.card.slot span {
	background-image: url(img/cards-inv/chh.png);
}

.card.slot:hover span {
	background-image: url(img/cards-inv/c++.png);
	background-color: #b0b000;
	opacity: 0.5;
	cursor: pointer;
}